:root{
  --color-1:#072ac8;
  --color-2:#1E96FC;
  --color-3:#A2D6F9;
  --color-4:#FCF300;
  --color-5:#FFC600;
  --color-6:#FFF;
  --color-7:rgba(126, 126, 126, 0.774);
  --color-8:rgba(0, 128, 0, 0.685);
}


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html, body{
  height: 100dvh;
  display:flex;
  flex-direction: column;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  color:var(--color-6);
  background: #1E96FC;
  background: linear-gradient(6deg, rgba(30, 150, 252, 1) 1%, rgba(7, 42, 200, 1) 100%);
}


/* Estilos del HTML - contenedores creados */

button{
  cursor:pointer;
}


main{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  margin:auto;
  width: clamp(40%, 60%, 80%);
  text-align: center;
}

main .contenedor-info{
  margin:0 0 60px 0;
}

main .contenedor-form{
  background-color: var(--color-6);
  border-radius:9px;
  padding:9px;
}

main .contenedor-form input, main .contenedor-form button{
  padding:8px;
  font-size:16px;
  background-color: transparent;
  border:none;
}

/* Estilos de la seccion de Tareas */

.contenedor-tareas{
  width: 100%;
}

.contenedor-tareas h2{
  margin:12px 0 22px 0;
}

.lista-tareas{
  display:flex;
  flex-direction: column;
  gap:12px;
  width: 100%;
  max-height: 500px;
  height: fit-content;
  overflow:auto;
}

.tarea-item{
  margin:auto;
  display:flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-height: 140px;
  padding:22px;
  gap:12px;
  border:1px solid var(--color-6);
  border-radius:12px;
}

.tarea-item p{
  font-size:20px;
  width: 65%;
  height: 100%;
  overflow:auto;
}

.tarea-item button{
  font-size:20px;
  background-color:var(--color-6);
  border:none;
  border-radius:6px;
  padding:6px;
  margin:0 0 0 12px;
  color:var(--color-1);
}

/* ---> Cambio de estado para completada o pendiente */
.completada{
  background-color:var(--color-8);
}

.pendiente{
  background-color:var(--color-7);
}

/* Contenedor para avisar sobre errores */

.contenedor-aviso-error{
  background-color:var(--color-5);
  padding:22px;
  border:2px solid var(--color-4);
  margin:4px 0 40px 0;
}

/* Utilidades, aparicion de aviso */

.ocultar{
  display:none;
}

/* Media queries */

@media screen and (max-width:400px){
  main{
    width: 100%;
  }

  .lista-tareas{
    max-height: 350px;
  }

  .tarea-item p{
    font-size:16px;
    width: fit-content;
    max-width: 130px;
    overflow:auto;
  }
}